# 1. 문자열 메소드 활용하기

## 1.1 변형

### `.capitalize()`, `.title()`, `.upper()`

`.capitalize()` : 가장 앞글자를 대문자로 만들어 반환합니다.

`.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [1]:
words = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.
print(words.capitalize())
print(words.title())
print(words.upper())

Hi! everyone, i'm kim
Hi! Everyone, I'M Kim
HI! EVERYONE, I'M KIM

### `.lower()`, `.swapcase()`

`.lower()` : 모두 소문자로 만들어 반환합니다.

`.swapcase()` : 대 ↔ 소문자로 변경하여 반환합니다.

In [2]:
words = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.
print(words.lower())
print(words.swapcase())

hi! everyone, i'm kim
Hi! eVERYONE, i'M KIM

### `.join(iterable)`

Iterable한 객체를 해당 문자열의 separator 로 합쳐서 문자열로 반환합니다.

In [9]:
# 아래에 코드를 작성하세요.
'was'.join('배고파!')

'배was고was파was!'

In [32]:
# 이렇게도 사용할 수 있겠죠?
words = ['hi', 'hello']
' '.join(words)

words = '1,2,3,4,5,6,7,8,9'
words = words.split(',')
print(words)
':'.join(words)

['1', '2', '3', '4', '5', '6', '7', '8', '9']

'1:2:3:4:5:6:7:8:9'

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [18]:
'yay!'.replace('a','_')

'y_y!'

In [2]:
'wooooowoo'.replace('o','',2)
'Hi! justins'.replace('s', '',1)

'Hi! jutins'

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [ ]:
# 아래에 코드를 작성하세요.(공백제거)

In [19]:
'        oh!\n         '.strip()

'oh!'

In [23]:
'        oh!\n         '.lstrip()

'oh!\n         '

In [22]:
'        oh!\n         '.rstrip()

'        oh!'

In [ ]:
# 아래에 코드를 작성하세요.(단어제거)

In [26]:
'hihihihihehehihihihihi'.strip('hi')

'ehe'

In [27]:
'hihihihihehehihihihihi'.lstrip('hi')

'ehehihihihihi'

In [28]:
'hihihihihehehihihihihi'.rstrip('hi')

'hihihihihehe'

## 1.2 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [30]:
'apple'.find('l')

3

In [31]:
'apple'.find('f')

-1

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [33]:
'apple'.index('l')

3

In [34]:
'apple'.index('f')

ValueError: substring not found

## `.split()`

- 괄호 안에 특정 값이 있으면 그 값을 구분자로 해서 문자열을 나눠 리스트로 반환합니다.
- 괄호 안에 아무 값도 넣어주지 않으면 공백(스페이스, 탭, enter)을 기준으로 문자열을 나눠 리스트로 반환합니다.

In [36]:
# 아래에 코드를 작성하세요.
'abc def'.split()
'Hello SSAFY'.split()

['Hello', 'SSAFY']

In [3]:
type('a_b_c'.split('_'))

list

In [38]:
words =input().split()
print(words)

HI HELLO SSSAAAFY
['HI', 'HELLO', 'SSSAAAFY']

## 1.3 다양한 확인 메소드 : 참/거짓 반환
```
.isaplha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isuper(), .istitle(), .islower()
```

```python
dir('string')
```

In [45]:
#공식문서 찾아보세요.
dir('string') # string에 사용가능한 함수를 알려줍니다.
a = 'Hi!, My name is PPPP'
b = 'HI!MYNAMEISPPPP'
print(a.isupper())
print(b.isupper())

False
True

In [39]:
a = 'Hello World'
print(a.istitle())
b = 'Hello world'
print(b.title())
print(b.istitle())

True
Hello World
False

# 2. 리스트 메소드 활용하기

## 2.1 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [6]:
# 카페 리스트를 만들어봅시다.
caffe = ['starbucks', 'tomntoms', 'hollys']
print(caffe)

['starbucks', 'tomntoms', 'hollys']

In [56]:
# 값을 추가해봅시다.
caffe.append('caffebene')
print(caffe)

['starbucks', 'tomntoms', 'hollys', 'caffebene']

In [57]:
# 어렵게 넣어보도록 해봅시다.
caffe[len(caffe):] = ['ediya']
print(caffe[len(caffe):])
print(caffe)

[]
['starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya']

### `.extend(iterable)`

- 리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

    - `iterable` 은 각각의 요소를 하나씩 반환할 수 있는 객체를 말한다. List와 Tuple, Dictionary와 Set 등이 여기 속합니다. for문을 돌렸을 때 하나씩 튀어나오는 친구들!

In [ ]:
# 앞서 만든 리스트에 추가해봅시다.

In [58]:
caffe.extend(['droptop', '빽다방'])
print(caffe)

['starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'droptop', '빽다방']

In [59]:
# 앞서 배운 list concatenate와 동일합니다.
caffe += ['mccaffe', 'burgerking']
print(caffe)

['starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'droptop', '빽다방', 'mccaffe', 'burgerking']

In [ ]:
# append와 비교해봅시다.

In [62]:
# .append vs .extend

# .append
caffe.append(['coffenie'])
print(caffe)
caffe.extend(['coffeingurunaru'])
print(caffe)

['starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'droptop', '빽다방', 'mccaffe', 'burgerking', ['coffenie'], ['coffenie'], 'coffeingurunaru', ['coffenie']]
['starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'droptop', '빽다방', 'mccaffe', 'burgerking', ['coffenie'], ['coffenie'], 'coffeingurunaru', ['coffenie'], 'coffeingurunaru']

In [65]:
L = [1, 2, 3]

L = L + [4] # 새로운 리스트를 만듦
print(L)
L.append (4) # 기존의 리스트의 마지막에 추가
print(L)

[1, 2, 3, 4]
[1, 2, 3, 4, 4]

### `.insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [64]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.
caffe.insert(0, 'hi')
print(caffe)

['hi', 'hi', 'starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'droptop', '빽다방', 'mccaffe', 'burgerking', ['coffenie'], ['coffenie'], 'coffeingurunaru', ['coffenie'], 'coffeingurunaru']

In [10]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다
caffe.insert(-1,'bbbye')
print(caffe)

['starbucks', 'tomntoms', 'hollys', 'bye', 'bbbye', 'bbbye', 'bye']

In [ ]:
# 길이를 넘어서는 인덱스는 무조건 마지막 붙습니다!

In [70]:
samples = [1, 2, 3, 4, 5, 6]

samples.insert(5, 7)
print(samples)

[1, 2, 3, 4, 5, 7, 6]

### `.remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [71]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]
print(numbers)

[1, 2, 3, 1, 2]

In [72]:
# 중복된 값 1을 삭제 해봅시다.
numbers.remove(1)
print(numbers)

[2, 3, 1, 2]

In [73]:
# 한번 더 삭제해봅시다.
numbers.remove(1)
print(numbers)

[2, 3, 2]

In [74]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.
numbers.remove(1)
print(numbers)

ValueError: list.remove(x): x not in list

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [18]:
# pop을 사용해봅시다.
numbers = [1, 2, 3, 4, 5, 6]

In [ ]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.

In [28]:
print(numbers.pop(0))
print(numbers)

IndexError: pop from empty list

In [ ]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다.

In [131]:
numbers = [1, 2, 3]
a = numbers.pop()
print (a)
print (numbers)
a = numbers.pop()
print (a)
print (numbers)
a = numbers.pop()
print (a)
print (numbers)

3
[1, 2]
2
[1]
1
[]

## 2.2 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [138]:
# index를 사용해봅시다.
numbers = [1, 2, 3, 1, 5]
print(numbers.index(1))
print(numbers.index(1))

0
0

In [ ]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)

### `.count(x)`

원하는 값의 개수를 확인할 수 있습니다.

In [139]:
# count를 사용해봅시다.
numbers = [1, 2, 5, 1, 5, 1]

In [151]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.
targetnumber= 1
for i in range(numbers.count(targetnumber)):
    numbers.remove(targetnumber)
print(numbers)

[2, 5, 5]

In [153]:
# 모두 삭제되었는지 검증해봅시다.
targetnumber in numbers

False

### `.sort()`

정렬을 합니다. 

`sorted()`와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [154]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

[20, 13, 19, 2, 10, 37]

In [155]:
# sort를 사용해봅시다.
lotto_result = lotto.sort()
print ( lotto_result )
print ( lotto )

None
[2, 10, 13, 19, 20, 37]

In [157]:
# sorted를 사용해봅시다.
numbers = [2, 5, 4, 1, 8, 5]

result = sorted(numbers)
print(result)
print(numbers)

lotto.sort(reverse=True)
print(lotto)

[1, 2, 4, 5, 5, 8]
[2, 5, 4, 1, 8, 5]
[37, 20, 19, 13, 10, 2]

### `.reverse()`

반대로 뒤집습니다. (정렬 아님)

In [159]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)
print (classroom . reverse())
print(classroom)

['Tom', 'David', 'Justin']
None
['Justin', 'David', 'Tom']

In [161]:
#.reverse()
numbers = [1, 2, 3]
numbers.reverse()
print(numbers)
# reversed()
numbers = [1 ,2, 3]
result = reversed(numbers)
print(list(result))
print(numbers)

[3, 2, 1]
[3, 2, 1]
[1, 2, 3]

## 2.3 복사

In [162]:
#slicing 실습

words = ['T', 'h', 'e', ' ', 'A', 'v', 'e', 'n', 'g', 'e', 'r', 's']

['T', 'h']

In [163]:
words[0:2]

['T', 'h']

In [165]:
words[0:4]

['T', 'h', 'e', ' ']

In [168]:
words[-8:-1]
words[-12:-9]

['T', 'h', 'e']

In [171]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

In [174]:
copied_list = original_list
print(copied_list)

[1, 2, 3]

In [ ]:
# b의 값을 바꾸고 a를 출력해봅시다.

In [175]:
copied_list[0] = 5
print(copied_list)
print(original_list)

[5, 2, 3]
[5, 2, 3]

In [176]:
# id 값을 확인해봅시다.
print(id(copied_list) == id(original_list))
print(copied_list is original_list)

True
True

In [ ]:
# 숫자를 확인해봅시다.

In [177]:
a = 20005
b = a
b = 30005

print(a)
print(b)

20005
30005

In [ ]:
# 문자를 확인해봅시다.

In [178]:
word_a = 'HIHI'
word_b = word_a
word_b = 'BYEBYE'

print(word_a)
print(word_b)

HIHI
BYEBYE

In [ ]:
# 딕셔너리도 확인해봅시다.

In [179]:
lunch = {'김밥천국': '치즈라면', '김가네 ': '제육복음'}
print(lunch)

dinner = lunch
dinner['김밥천국'] = '참치김밥'

print(lunch)
print(dinner)

{'김밥천국': '치즈라면', '김가네 ': '제육복음'}
{'김밥천국': '참치김밥', '김가네 ': '제육복음'}
{'김밥천국': '참치김밥', '김가네 ': '제육복음'}

### copy
> [pythontutor](http://pythontutor.com/visualize.html#code=lunch%20%3D%20%7B'%EA%B9%80%EB%B0%A5%EC%B2%9C%EA%B5%AD'%3A%20'%EC%B9%98%EC%A6%88%EB%9D%BC%EB%A9%B4',%20'%EA%B9%80%EA%B0%80%EB%84%A4'%3A%20'%EC%A0%9C%EC%9C%A1%EB%B3%B6%EC%9D%8C'%7D%0Aprint%28lunch%29%0Adinner%20%3D%20lunch%0Adinner%5B'%EA%B9%80%EB%B0%A5%EC%B2%9C%EA%B5%AD'%5D%20%3D%20'%EC%B0%B8%EC%B9%98%EA%B9%80%EB%B0%A5'%0Aprint%28lunch%29&cumulative=false&curInstr=0&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false)를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 num이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [180]:
# 아래에 작성하세요.
a = [1, 2, 3]

b = a
b[0] = 5

print(a)
print(b)

[5, 2, 3]
[5, 2, 3]

In [ ]:
# 리스트를 복사해봅시다.

In [ ]:
# 다른 방법으로 복사해봅시다.

In [182]:
a = [1, 2, 3]

b = a[:]
b[0] = 5

print(a)
print(b)

[1, 2, 3]
[5, 2, 3]

In [ ]:
# 이런 방법도 있어요

In [183]:
a = [1, 2, 3]
b = list(a)
b[0] = 5

print(a)
print(b)

[1, 2, 3]
[5, 2, 3]

In [184]:
a = [1, 2, 3]
b = a.copy()
b[0] = 5

print(a)
print(b)

[1, 2, 3]
[5, 2, 3]

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [ ]:
# 2차원 배열을 복사해봅시다.

In [185]:
a = [1, 2, [1, 2]]
b = a[:]
b[2][0] = 3

print(a)
print(b)

[1, 2, [3, 2]]
[1, 2, [3, 2]]

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [ ]:
# 깊은 복사를 사용해봅시다.

In [190]:
import copy

a = [1, 2, [1,[1,[2,[4,5]]], 2]]
b = copy.deepcopy(a)

b[2][1][1][1][1] = 3

print(a)
print(b)

[1, 2, [1, [1, [2, [4, 5]]], 2]]
[1, 2, [1, [1, [2, [4, 3]]], 2]]

## `.clear()`

리스트의 모든 항목을 삭제합니다.

In [ ]:
# clear를 사용해봅시다.

In [198]:
a = [1 , 2 , 3]
print (a [1::-1])

[2, 1]

# 3. List Comprehension

- List를 만들 수 있는 간단한 방법이 있습니다.

- `[표현식 for 요소 in sequence if 조건식 ]`

### 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [200]:
numbers = range(1, 11)

In [ ]:
# 기존의방법

In [201]:
cubic_list = []

for i in numbers:
    cubic_list.append(i**3)
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
# List Comprehension

In [207]:
cubic_list = []
numbers = range(1, 11)
cubic_list = [i**3 for i in numbers]
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [ ]:
numbers = range(1, 11)

In [208]:
# 기존의방법
even_list = []
for i in numbers:
    if i % 2 == 0:
        even_list.append(i)
print(even_list)

[2, 4, 6, 8, 10]

In [209]:
# List Comprehension
even_list = [i for i in numbers if i % 2 == 0]
print(even_list)

[2, 4, 6, 8, 10]

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [211]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [225]:
all_list = []
for i in boys:
    for j in girls:
        all_list.append((i,j))
print(all_list)

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

In [226]:
# List comprehension을 활용하여 만들어주세요.

all_list = [(i,j) for i in boys for j in girls]

print(all_list)

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [240]:
# 반복문을 활용하여 만들어주세요.
pita = []
for i in range(3,50):
    for j in range(i,50):
        for k in range(j,50):
            if ( i**2 + j**2 == k **2):
                pita.append((i,j,k))
print(pita)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [244]:
# List comprehension을 활용하여 만들어주세요.
pitas = [(i , j, k) for i in range(3,50) for j in range(i,50) for k in range(j,50) if i**2 + j**2 == k **2]
print(pitas)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [249]:
# List comprehension을 활용하여 만들어주세요.
words = 'Life is too short, you need python!'

words = [i for i in words if i not in 'aeiou']
# for i in words:
#     print(i, end ='')
print(''.join(words))

Lf s t shrt, y nd pythn!

# 4. 딕셔너리 메소드 활용

## 4.1 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [250]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

In [251]:
result = my_dict.pop('apple')
print(result)
print(my_dict)

사과
{'banana': '바나나'}

In [ ]:
# 딕셔너리에 없으면 에러가 발생합니다

In [252]:
my_dict.pop('melon')

KeyError: 'melon'

In [ ]:
# 두번째 인자로 default를 설정할 수 있습니다

In [253]:
result = my_dict.pop('melon', 0)
print(result)

0

### `.update()`

- 이미 존재하는 key가 있으면 값을 제공하는 key, value로 덮어씁니다. 
- 없다면 새로운 key-value pair를 추가합니다

In [255]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [258]:
my_dict.update(apple='사과아')
print(my_dict)
my_dict['apple'] = '앺펄'
print(my_dict)
my_dict.update(peach =" 복숭아")
print(my_dict)

{'apple': '사과아', 'banana': '바나나', 'melon': '멜론'}
{'apple': '앺펄', 'banana': '바나나', 'melon': '멜론'}
{'apple': '앺펄', 'banana': '바나나', 'melon': '멜론', 'peach': ' 복숭아'}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [259]:
# []를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [260]:
my_dict['pineapple']

KeyError: 'pineapple'

In [ ]:
# get을 사용해봅시다.

In [261]:
print(my_dict.get('pineapple'))
print(my_dict.get('apple'))
print(my_dict.get('pineapple', 0))

None
사과
0

## 4.2 dictionary comprehension

- dictionary도 comprehension을 활용하여 만들 수 있습니다. 

- `{key:value for 요소 in sequnce if 조건식}`

In [ ]:
# dictionary comprehension

### dictionary comprehension 사용해보기

In [3]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [ ]:
# 미세먼지 농도가 80 초과 지역만 뽑아 봅시다.
# 예) {'대전': 82, '중국': 200}

In [267]:
dusts1 ={key:value for key,value in dusts.items() if value>80}
print(dusts1)

{'대전': 82, '중국': 200}

In [ ]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.

In [277]:
dusts2 ={key:'나븜' if value > 80 else '보롱' for key, value in dusts.items() }
print(dusts2)

{'서울': '보롱', '대전': '나븜', '구미': '보롱', '광주': '보롱', '중국': '나븜'}

In [ ]:
# elif 도 사용할 수 있습니다.

In [6]:
translate = {key:'매우나쁨' if value > 150 else '나쁨' if value > 80  else'보통' if value > 30 else '좋음' for key, value in dusts.items()}
print(translate)

{'서울': '보통', '대전': '나쁨', '구미': '좋음', '광주': '보통', '중국': '매우나쁨'}

# 5. 세트 메소드 활용

## 5.1 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [7]:
# add를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

In [8]:
fruits.add('포도')
print(fruits)

{'사과', '포도', '바나나', '수박'}

### `.update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [9]:
# update를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

In [10]:
fruits.update({'토마토','토마토','딸기'},{'포도','레몬'})

In [11]:
print(fruits)

{'레몬', '딸기', '토마토', '사과', '포도', '바나나', '수박'}

In [ ]:
# 만약에 이렇게 한다면..

In [12]:
fruits.update('복숭아','두리안')
print(fruits)

{'숭', '리', '딸기', '사과', '토마토', '복', '포도', '안', '아', '레몬', '두', '바나나', '수박'}

In [ ]:
# 하지만 이건 오류가 납니다!

In [13]:
fruits.update(123)

TypeError: 'int' object is not iterable

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [ ]:
# remove를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

In [15]:
fruits.remove('사과')

### `.discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [ ]:
# discard를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

In [16]:
fruits.discard('사가')

### `.pop()`

임의의 원소를 제거해 반환합니다.

In [38]:
# pop을 사용해봅시다.
a = {"사과", "바나나", "수박", "아보카도"}

In [39]:
print(a.pop())

아보카도

##  `.map()`, `.zip()`, `.filter()`

### `.map(function, iterable)`

* Iterable의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 map_object 형태로 됩니다.

In [41]:
numbers = [1, 2, 3]
# 위의 코드를 문자열 '123'으로 만들어봅시다.

In [49]:
chars = map(str, numbers)
print(chars)

<map object at 0x00000224B5C2A648>

In [50]:
word = ''.join(chars)
print(word)
print(type(word))

123
<class 'str'>

In [ ]:
# list comprehension

In [51]:
word = ''.join([str(number) for number in numbers])
print(word)

123

In [59]:
chars = ['1', '2', '3']
# 위의 코드를 [1, 2, 3]으로 만들어봅시다.

In [60]:
number = map(int , chars)
print(number)

<map object at 0x00000224B5A7AE08>

In [ ]:
# list comprehension

In [62]:
word = [int(char) for char in chars]
print(word)

[1, 2, 3]

* map의 첫번째 인자로 들어가는 function은 사용자 정의 함수도 가능합니다.

In [63]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

In [64]:
numbers = [1, 2, 3]
list(map(cube , numbers))

[1, 8, 27]

### `.zip(*iterables)` 

* 복수 iterable한 것들을 모아준다.

* 결과는 튜플의 모음으로 구성된 zip object를 반환한다.

In [70]:
# 예시를 봅시다.
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [68]:
print(list(zip(girls,boys)))

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [65]:
# dict comprehension + for문으로 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [ ]:
{girl: boy for boy in boys for girl in girls}

In [ ]:
# zip을 사용하면 조금 더 편하게 조작할 수 있습니다.

In [72]:
result = {girl:boy for girl,boy in zip(girls,boys)}
print(result)

{'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

* 아래와 같이 사용가능하다.

In [74]:
justin = '123'
zzulu = '567'

for digit_a, digit_b in zip(justin, zzulu):
    print(digit_a, digit_b)

1 5
2 6
3 7

* zip은 반드시 길이가 같을 때 사용해야한다. 가장 짧은 것을 기준으로 구성한다.

In [75]:
num1 =[1, 2, 3]
num2 =['1', '2']

list(zip(num1, num2))

[(1, '1'), (2, '2')]

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

In [76]:
from itertools import zip_longest

list(zip_longest(num1, num2, fillvalue=0))

[(1, '1'), (2, '2'), (3, 0)]

### `.filter(function, iterable)`

* iterable에서 function의 반환된 결과가 참인 것들만 구성하여 반환한다.

In [ ]:
# 짝수인지 판단하는 함수를 작성해봅시다.

In [80]:
def even(n):
    if n%2 ==0:
        return n

In [ ]:
# filter를 사용해봅시다.

In [81]:
numbers = [1, 2, 3, 4, 5, 2, 2]
list(filter(even, numbers))

[2, 4, 2, 2]

In [ ]:
# 다음의 list comprehension과 동일하다.

In [84]:
result = {number for number in numbers if even(number)}
print(result)

{2, 4}